{% extends 'base.html.twig' %}

{% block title %}hi{% endblock %}

{% block body %}

    {# 1 image full row #}
    <div class="pb-4 ">
        <img src="/media/alexander-schimmeck-CIRXDemF3_g-unsplash.jpg"
             class="w-full h-96 object-cover rounded-[25px]"
        >
        <p class="text-[#ffffff44] text-sm text-right italic mr-[25px]">Photo by <a class="underline" href="https://unsplash.com/@alschim?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexander Schimmeck</a> on <a class="underline" href="https://unsplash.com/photos/CIRXDemF3_g?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </p>
    </div>



    <p class="text-white pt-4 leading-snug">
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
    </p>
    <p class="text-white leading-snug">
        The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me? " he thought. It wasn't a dream. His room, a proper human
    </p>

{% endblock %}
