{% extends 'base.html.twig' %}

{% block title %}hi{% endblock %}

{% block body %}


<h1 class="text-white text-3xl font-bold">
    hi, why is this so smol? asdifa ösdfij asidfja södfjaöldfjaösdlfj aölsdfj aösdfj aösdij aösdija osid j aoirgja eijae roi
</h1>


{% endblock %}
