<!DOCTYPE html>
<html class="bg-[#323232]">
{#<html class="bg-[#ccc]">#}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="opacity-0 transition-opacity duration-1000">

        <nav class="relative flex flex-col justify-center overflow-hidden pt-2 sm:pt-6">
            <div class="relative px-12 pt-10">
                <div x-data="{ isOpen: false }" class="mx-auto max-w-3xl pb-8">
                    <div class="flex justify-between items-center">
                        <div class="pl-[65px]"></div>
                        <h1 class="text-[#111] text-3xl font-bold text-justify underline">hehe haha</h1>
                        <div class="flex justify-end items-center mr-[25px]">
                            <button @click="isOpen = !isOpen" type="button" class="text-[#111] group p-5 inline-flex items-center rounded-md text-base font-medium" aria-expanded="false">
                                <span aria-hidden="true" class="-translate-x-4 block absolute h-1 w-8 bg-current rounded-[25px] transform transition duration-500 ease-in-out" :class="{'-rotate-45': isOpen,' -translate-y-2.5': !isOpen }"></span>
                                <span aria-hidden="true" class="-translate-x-4 block absolute h-1 w-8 bg-current rounded-[25px] transform transition duration-500 ease-in-out" :class="{'opacity-0': isOpen } "></span>
                                <span aria-hidden="true" class="-translate-x-4 block absolute h-1 w-8 bg-current rounded-[25px] transform transition duration-500 ease-in-out" :class="{'rotate-45': isOpen, ' translate-y-2.5': !isOpen}"></span>
                            </button>
                        </div>
                    </div>
                    <div x-show="isOpen" @click.away="isOpen = false"
                         class="w-full pt-12"
                         x-transition:enter="transition ease-out duration-500"
                         x-transition:enter-start="opacity-0 transform -translate-y-10"
                         x-transition:enter-end="opacity-100 transform translate-y-0"
                         x-transition:leave="transition ease-in duration-200"
                         x-transition:leave-start="opacity-100 transform scale-100"
                         x-transition:leave-end="opacity-0 transform scale-90"
                    >
                        <div class="flex justify-around -ml-[25px] -mr-[25px]">
                            <button class="bg-[#171717] py-4 px-12 rounded-[25px] hover:underline">
                                <a href="#" class="relative text-white font-bold transform transition duration-500 ease-in-out">Home</a>
                            </button>
                            <button class="bg-[#171717] py-4 px-12 rounded-[25px] hover:underline">
                                <a href="#" class="relative text-white font-bold hover:underline transform transition duration-500 ease-in-out">Blog</a>
                            </button>
                            <button class="bg-[#171717] py-4 px-12 rounded-[25px] hover:underline">
                                <a href="#" class="relative text-white font-bold hover:underline transform transition duration-500 ease-in-out">Projects</a>
                            </button>
                            <button class="bg-[#171717] py-4 px-12 rounded-[25px] hover:underline">
                                <a href="#" class="relative text-white font-bold hover:underline transform transition duration-500 ease-in-out">Other</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="relative flex flex-col justify-center overflow-hidden py-2 sm:py-6 transform transition duration-500 ease-in-out">
            <div class="relative bg-[#171717] px-6 pt-10 pb-8 shadow-xl sm:mx-auto sm:max-w-3xl sm:rounded-[25px] sm:px-10">
{#            <div class="relative bg-[#666] px-6 pt-10 pb-8 shadow-xl sm:mx-auto sm:max-w-3xl sm:rounded-[25px] sm:px-10">#}
                <div class="mx-auto max-w-3xl">
                    <div class="divide-y divide-gray-300/50">
                        <div class="space-b-6 p-8 text-base leading-7 text-gray-600">
                            <div class="mx-[24rem]"></div>
                            {% block body %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center my-12">
                <svg id="Ebene_4" data-name="Ebene 4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="100" height="100">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #111;
                            }
                        </style>
                    </defs>
                    <path class="cls-1" d="M939.49,1050.46L588.71,310.39,286.79,882.72h291.01v172.28H146.89c-30.62,0-59.47-16.29-75.28-42.52-15.81-26.23-16.75-59.34-2.46-86.43L514.99,80.9c15.61-29.62,46.02-47.65,79.64-46.87,33.5,.72,63.23,19.98,77.57,50.27l267.29,563.94V122.62c0-36.3,22.8-69.33,56.75-82.2,33.94-12.87,72.91-3.26,96.98,23.92l5.58,6.31,303.18,517.68L1701.38,71.06l5.55-6.33c23.99-27.38,63-37.16,97.06-24.34,34.07,12.81,56.96,45.88,56.96,82.28v932.34h-172.28V436.93l-214.6,370.77-5.56,6.34c-16.61,18.94-40.59,29.86-65.79,29.94h-.3c-25.09,0-49.02-10.74-65.7-29.5l-5.66-6.36-219.28-374.43v621.29h-170.13"/>
                </svg>
            </div>
        </div>
    </body>
</html>
