THIS IS AN ELEMENT COLLECTION TO COPY PASTA FROM, CONTENT IN THEM IS JUST FOR SHOWCASES

<!--IMAGES-->

<!--1 image full row-->
<div class="pb-4">
    <img src="https://images.unsplash.com/photo-1569316325946-7825bf0cece2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1632&q=80"
         class="w-full h-52 object-cover rounded-[25px]"
    >
</div>

<!--2 images in row -->
<div class="flex grid grid-cols-1 sm:grid-cols-2 justify-between gap-4 pb-4">
    <div>
        <img src="https://images.unsplash.com/photo-1600697191896-8bdb683af0d6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=727&q=80"
             class="w-full h-52 object-cover rounded-[25px]"
        >
    </div>
    <div>
        <img src="https://images.unsplash.com/photo-1673154549690-4bd9452f9c1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHVuZXIlMjBjYXJ8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
             class="w-full h-52 object-cover rounded-[25px]"
        >
    </div>
</div>

<!--END IMAGES-->



<!--TYPOGRAPHY-->

<!--h1-->
<h1 class="text-white text-3xl font-bold text-center mt-0 mb-12">
    HI, COOL HEADING
</h1>

<!--content text-->
<p class="text-white pt-4 leading-snug">
    One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
</p>

<!--END TYPOGRAPHY-->



<!--INTERACTIVE-->

<!--download & donate-->
<div class="flex items-center pb-8 text-white">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
    </svg>
    <span class="text-[#ffffffcc] font-bold pl-2">Rheindrift.7z</span>
    <span class="px-4 font-bold text-[#ffffff44]">·</span>
    <span class="font-thin text-[#ffffff44]">130 MB</span>
</div>


<!--END INTERACTIVE-->